.env
*__pycache__
src/content/users/*
!src/content/users/default_headshot.jpg
!src/content/users/example.txt
src/content/courses/*
!src/content/courses/example.txt
src/content/reminders/*.ics
src/content/exports/*
!src/content/exports/example.txt
src/content/user_certificates/*
!src/content/user_certificates/example.txt
.ds_store